.detail-container[data-v-48482ccb] {
  padding: 20px;
}
.mt-20[data-v-48482ccb] {
  margin-top: 20px;
}
.stat-list[data-v-48482ccb] {
  padding: 10px;
}
.stat-item[data-v-48482ccb] {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--el-border-color-light);
}
.stat-item span[data-v-48482ccb] {
  color: var(--el-text-color-secondary);
}
.stat-item strong[data-v-48482ccb] {
  color: var(--el-text-color-primary);
  font-weight: 700;
}
